@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 274 45% 25%;
    --foreground: 0 0% 100%;

    --card: 274 40% 30%;
    --card-foreground: 0 0% 100%;

    --popover: 274 45% 25%;
    --popover-foreground: 0 0% 100%;

    --primary: 351 77% 64%;
    --primary-foreground: 0 0% 100%;

    --secondary: 274 35% 35%;
    --secondary-foreground: 0 0% 100%;

    --muted: 274 30% 40%;
    --muted-foreground: 0 0% 85%;

    --accent: 351 77% 64%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 274 30% 40%;
    --input: 274 30% 35%;
    --ring: 351 77% 64%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 274 50% 20%;
    --foreground: 0 0% 100%;

    --card: 274 45% 25%;
    --card-foreground: 0 0% 100%;

    --popover: 274 50% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 351 77% 64%;
    --primary-foreground: 0 0% 100%;

    --secondary: 274 40% 30%;
    --secondary-foreground: 0 0% 100%;

    --muted: 274 35% 35%;
    --muted-foreground: 0 0% 80%;

    --accent: 351 77% 64%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 274 35% 35%;
    --input: 274 35% 30%;
    --ring: 351 77% 64%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
